<div class="row">
  <p>
  <div class="col-md-2">
    <u><h3>Work Areas</h3></u>
  </div>
  <div class="col-md-5">
    <h3><%= link_to "Add Work Area", new_workarea_path, class: 'btn btn-success' %></h3>
  </div>
</div>

<h4>
  <ul>
    <% @workareas.each do |workarea| %>
      <li><u><i><%= link_to workarea.title %></i></u></li>
      <br>
    <% end %>
  </ul>
</h4>
