<u><h3>Bid Times</h3></u>
<div class="container">
  <h4>
    <ul>
      <li><u><i><%= link_to "Crew Chiefs", users_cc_path %></i></u></li>
      <br>
      <li><u><i><%= link_to "Full-Time", users_ft_path %></i></u></li>
      <br>
      <li><u><i><%= link_to "Part-Time", users_pt_path %></i></u></li>
    </ul>
  </h4>
</div>
