<u><h2>Bid Times</h2></u>
<div class="container">
  <h4>
    <ul>
      <li><u><%= link_to "Crew Chiefs", users_cc_path %></u></li>
      <br>
      <li><u><%= link_to "Full-Time", users_ft_path %></u></li>
      <br>
      <li><u><%= link_to "Part-Time", users_pt_path %></u></li>
    </ul>
  </h4>
</div>
