<u><h1>Seniority Lists</h1></u>
<br>
<div class="container">
  <ul>
    <li><%= link_to "Crew Chiefs", seniorities_cc_path %></li>
    <br>
    <li><%= link_to "Full-Time", seniorities_ft_path %></li>
    <br>
    <li><%= link_to "Part-Time", seniorities_pt_path %></li>
  </ul>
</div>
