<u><h2>Bid Times</h2></u>
<div class="container">
  <h3>
    <ul>
      <li><u><%= link_to "Crew Chiefs", seniorities_cc_path %></u></li>
      <br>
      <li><u><%= link_to "Full-Time", seniorities_ft_path %></u></li>
      <br>
      <li><u><%= link_to "Part-Time", seniorities_pt_path %></u></li>
    </ul>
  </h3>
</div>
