<u><h2>Bid Sheets</h2></u>
<div class="container">
  <h3>
    <ul>
      <li><u><%= link_to "Crew Chiefs", shifts_cc_path %></u></li>
      <br>
      <li><u><%= link_to "Full-Time", shifts_ft_path %></u></li>
      <br>
      <li><u><%= link_to "Part-Time", shifts_pt_path %></u></li>
    </ul>
  </h3>
</div>
