<u><h3>Bid Sheets</h3></u>
<div class="container">
  <h4>
    <ul>
      <li><u><i><%= link_to "Crew Chiefs", shifts_cc_path %></i></u></li>
      <br>
      <li><u><i><%= link_to "Full-Time", shifts_ft_path %></i></u></li>
      <br>
      <li><u><i><%= link_to "Part-Time", shifts_pt_path %></i></u></li>
    </ul>
  </h4>
</div>
