// Place all the styles related to the shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item {
  border: 1px solid black;
  // border-image-outset: 5px;
  // box-shadow: 5px 5px 5px #888888;
  list-style-type: none;
}
#weekShifts {
  border: 5px solid black;
  // border-image-outset: 5px;
  // box-shadow: 5px 5px 5px #888888;
  list-style-type: none;
}
